@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

:root {
  --footer-h: 41px;
}

html {
  /* scroll-behavior: smooth; */
  scrollbar-gutter: stable;
  margin: 0;
}

html {
  @supports (scrollbar-gutter: stable) {
    body {
      margin: 0 !important;
    }
  }
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  min-height: calc(100dvh - var(--footer-h));
  scrollbar-gutter: auto;
  @apply dark:bg-zinc-950 bg-zinc-50 dark:text-zinc-300 text-zinc-600 antialiased;
}

.grid-layout {
  @apply flex grid-cols-[auto_640px_auto] flex-col md:grid items-center
}

.play-fair {
  font-family: "Playfair Display", serif;
}

h1,
h2,
h3,
h4 {
  @apply text-balance
}

p {
  @apply text-pretty
}

.icon-theme-state[data-state='open'] {
  @apply text-zinc-900 dark:text-emerald-400;
}

.icon-email-state[data-state='open'] {
  @apply bg-zinc-200 dark:bg-zinc-800
}